li {
  padding: 5px;
  margin: 5px;
  right: 50px;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: brown;

}

.form-group {
  margin-bottom: 5px;
  right: 150px;

}